/*
=========================================
CSS INI DIBUAT MURNI OLEH RESTU D. CAHYO
BUTUH PEMBUATAN APLIKASI ?, UNTUK TUGAS AKHIR ATAU PROYEK ?
BISA HUBUNGI
Instagram / Twitter : resitdc
Email : dwi.restu3@gmail.com
=========================================
*/
.resit-row {
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin-right: -11px;
  margin-left: -11px;
  -ms-flex-wrap: wrap;
}
.resit-row [class*=" resit-col-"],
.resit-row [class^="resit-col-"] {
  position: relative;
  padding-right: 11px;
  padding-left: 11px;
  width: 100%;
}

.resit-col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  -ms-flex: 0 0 8.333333%;
}

.resit-col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  -ms-flex: 0 0 16.666667%;
}

.resit-col-3 {
  flex: 0 0 25%;
  max-width: 25%;
  -ms-flex: 0 0 25%;
}

.resit-col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  -ms-flex: 0 0 33.333333%;
}

.resit-col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  -ms-flex: 0 0 41.666667%;
}

.resit-col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  -ms-flex: 0 0 50%;
}

.resit-col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  -ms-flex: 0 0 58.333333%;
}

.resit-col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  -ms-flex: 0 0 66.666667%;
}

.resit-col-9 {
  flex: 0 0 75%;
  max-width: 75%;
  -ms-flex: 0 0 75%;
}

.resit-col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  -ms-flex: 0 0 83.333333%;
}

.resit-col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  -ms-flex: 0 0 91.666667%;
}

.resit-col-12 {
  flex: 0 0 100%;
  max-width: 100%;
  -ms-flex: 0 0 100%;
}

.resit-item-center {
  align-items: center;
  justify-content: center;
}
